* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

/*div{
    text-align: center;
    
}*/

input {
  text-align: center;
}





/* background img*/
.ft-container img {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
}

.ft-container {
  position: relative;
  width: 100%;
}

.container {
  border: 2px solid orange;
  position: absolute;

  left: 52%;
  top: 40%;

  transform: translateX(-50%);
  width: 300px;
  min-height: 250px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  overflow: hidden;
}


.bgColor {
  position: absolute;
  z-index: 1;
  border-radius: 3rem;
  animation: gradient 4s infinite;
}
.content {
  position: relative;
  z-index: 10;
}
@keyframes gradient {
  50% {
    transform: scale(1.3) translateX(100px);
  }
}
.bgColor:nth-child(1) {
  height: 100%;
  width: 100%;
  background-color: blueviolet;
}
.bgColor:nth-child(2) {
  height: 80%;
  width: 70%;
  background-color: gold;
  top: -12%;
  right: -12%;
  animation-delay: 2s;
}
.bgColor:nth-child(3) {
  height: 50%;
  width: 75%;
  background-color: blue;
  bottom: -10%;
  left: -5%;
  animation-delay: 1s;
}
.bgColor:nth-child(4) {
  height: 65%;
  width: 80%;
  background-color: rgb(200, 63, 85);
  bottom: -15%;
  right: -20%;
  animation-delay: 3s;
}
.bgColor:nth-child(5) {
  height: 70%;
  width: 65%;
  background-color: aqua;
  bottom: 0;
  right: -50%;
  animation-delay: 1s;
}
.container::after {
  position: absolute;
  content: "";
  inset: 0;
  backdrop-filter: blur(200px);
  z-index: 2;
}
